@import './theme.styl'

:root
  --cursorGrabSvg url('./cursor/grab.svg') 8 7, grabbing
  --cursorScrollhSvg url('./cursor/scrollh.svg') 10 10, ew-resize
  --cursorScrollvSvg url('./cursor/scrollv.svg') 10 10, ns-resize