@import '../BoxX/_.styl'
@import '../Btn/_.styl'
@import './theme.styl'

:root
  --boxXSvg url('./svg/x.svg')
  --btnBg linear-gradient(180deg, #f5f5f54d, #f5f5f580)
  --btnBgAct linear-gradient(180deg, #ffffff26)
  --btnBgHov linear-gradient(180deg, #f5f5f54d, #ebebebbf)
  --btnCSize 44px
  --btnColor #333
  --btnColorHov #000
  --btnPadding 12px 22px
  --btnRadius 22px
  --btnShadow inset 0 1px 2px #ffffff80, inset 0 -1px 2px #0000000d, inset 0 0 0 1px #ffffff4d
  --btnShadowAct inset 0 2px 6px #0000001a, inset 0 0 0 1px #ffffff33
  --btnShadowHov inset 0 1px 4px #ffffffcc, inset 0 -1px 3px #00000014, inset 0 0 0 1px #ffffff80, inset 0 0 4px #000
  --btnTransformAct scale(0.97)
  --btnTransition all 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  --btnTransitionAct all 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  --i18nSvg url('./svg/i18n.svg')
  --lgDoneSvg url('./svg/done.svg')
  --lgDoneSvg url('./svg/done.svg')
  --lgTodoSvg url('./svg/todo.svg')
  --lgTodoSvg url('./svg/todo.svg')