doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    link(href="//127.0.0.1:7771/reset.css" rel="stylesheet")
    link(href="//127.0.0.1:7771/svg.css" rel="stylesheet")

    script(type="importmap").
      {
        "imports": {
          "d/": "//127.0.0.1:7772/",
          "c/": "//127.0.0.1:7773/",
          "u/": "//127.0.0.1:7774/",
          "s/": "//127.0.0.1:7775/"
        }
      }
    block head
  body
    block body
