.BtnC
  height 44px
  padding 0
  width 44px

  .Ico
    background-image var(--btnIco)
    background-position center
    background-repeat no-repeat
    background-size 24px
    display block
    height 100%
    width 100%
