@import '../Scroll/_.styl'
@import '../MdCss/_.styl'
@import './theme.styl'

:root
  --mdArrowSvg url('./svg/arrow.svg')
  --mdBorderRadius 6px
  --mdCautionSvg url('./svg/caution.svg')
  --mdDoneSvg url('./svg/done.svg')
  --mdImportantSvg url('./svg/important.svg')
  --mdLineHoverSvg url('./svg/line-hover.svg')
  --mdLineSvg url('./svg/line.svg')
  --mdMargin 16px
  --mdNoteSvg url('./svg/note.svg')
  --mdQuoteSvg url('./svg/quote.svg')
  --mdTipSvg url('./svg/tip.svg')
  --mdTodoSvg url('./svg/todo.svg')
  --mdTypingSvg url('./svg/typing.svg')
  --mdWarningSvg url('./svg/warning.svg')