*, ::before, ::after
  border-color var(--un-default-border-color, #e5e7eb)
  border-style solid
  border-width 0
  box-sizing border-box

html, :host
  font-family t, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
  font-feature-settings normal
  font-variation-settings 'wght' 400
  font-weight 400
  line-height 1.5
  tab-size 4
  -moz-tab-size 4
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%

body
  line-height inherit
  margin 0

hr
  border-top-width 1px
  color inherit
  height 0

abbr:where([title])
  text-decoration underline dotted

h1, h2, h3, h4, h5, h6
  font-size inherit
  font-weight inherit

a
  color inherit
  text-decoration inherit

b, strong
  font-weight bolder

code, kbd, samp, pre
  font-family c, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace
  font-feature-settings normal
  font-size 1em
  font-variation-settings normal

small
  font-size 80%

sub, sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sub
  bottom -0.25em

sup
  top -0.5em

table
  border-collapse collapse
  border-color inherit
  text-indent 0

button, input, optgroup, select, textarea
  color inherit
  font-family inherit
  font-feature-settings inherit
  font-size 100%
  font-variation-settings inherit
  font-weight inherit
  line-height inherit
  margin 0
  padding 0

button, select
  text-transform none

button, [type='button'], [type='reset'], [type='submit']
  background-image none
  -webkit-appearance button

:-moz-focusring
  outline auto

:-moz-ui-invalid
  box-shadow none

progress
  vertical-align baseline

::-webkit-inner-spin-button, ::-webkit-outer-spin-button
  height auto

[type='search']
  outline-offset -2px
  -webkit-appearance textfield

::-webkit-search-decoration
  -webkit-appearance none

::-webkit-file-upload-button
  font inherit
  -webkit-appearance button

summary
  display list-item

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre
  margin 0

fieldset
  margin 0
  padding 0

legend
  padding 0

ol, ul, menu
  list-style none
  margin 0
  padding 0

dialog
  padding 0

textarea
  resize vertical

input::placeholder, textarea::placeholder
  color #9ca3af
  opacity 1

button, [role='button']
  cursor pointer

:disabled
  cursor default

img, svg, video, canvas, audio, iframe, embed, object
  display block
  vertical-align middle

img, video
  height auto
  max-width 100%

[hidden]:where(:not([hidden='until-found']))
  display none