dialog.Box
  background transparent
  border none
  box-sizing border-box
  outline none
  overflow visible
  padding 16px
  position relative
  top 16px
  z-index 2147483647

  &>.Lg
    background-color #fffffff2

  &::backdrop
    backdrop-filter blur(2px)
    background-color #0000001a