@import '../Lg/_.styl'
@import './theme.styl'

:root
  --inputLabelColor #636366
  --inputLabelColorActive #8e8e93
  --inputLabelSize 17px
  --inputLabelSizeActive 12px
  --inputMinHeight 56px
  --inputPadding 16px 22px
  --inputPaddingActive 24px 22px 8px
  --inputRadius 22px
  --inputShadow inset 0 0 0 1px #0000000d
  --lgDoneSvg url('./svg/done.svg')
  --lgTodoSvg url('./svg/todo.svg')