body
  background #fff url('./svg/bg.svg') no-repeat center / cover
  color #1e293b
  margin 0

h1
  background linear-gradient(135deg, #000, #555)
  background-clip text
  color transparent
  font-size 48px
  font-variation-settings 'wght' 250
  font-weight 250
  letter-spacing -0.03em
  line-height 1.15

p
  color #64748b
  font-size 18px
  font-weight 400
  line-height 1.6